# Dictionaries

In [2]:
dic = {}

In [3]:
dic['roll'] = 23

In [8]:
dic['reg1'] = dic['roll'] + 7

In [18]:
dic

{'roll': 23, 'reg': 30, 'reg1': 30}

In [72]:
for i in dic:
    print(i+':',dic[i])

roll: 23
reg: 30
reg1: 30

In [82]:
dic.items()
#return the key and value tuple

dict_items([('roll', 23), ('reg', 30), ('reg1', 30)])

In [83]:
for key,value in dic.items():
    print(key+':',value)

roll: 23
reg: 30
reg1: 30

In [86]:
bigcount = []
for key,value in dic.items():
    bigcount.append(value)
max(bigcount)

30

In [87]:
bgcnt = None
bgwrd = None
for key,value in dic.items():
    if bgcnt is None or value > bgcnt:
        bgcnt = value
        bgwrd = key
print(key+':',value)

reg1: 30

In [84]:
lst = list(dic)

In [76]:
dic.values()

dict_values([23, 30, 30])

In [64]:
dic.get('roll')

23

In [44]:
counts = dict()
nam = ['bob','monti','namis','bob','csv','bob']

In [63]:
for name in nam:
    if name not in counts:
        counts[name] = 1
    else:
        counts[name] = counts[name] + 1
counts

{'bob': 18, 'monti': 6, 'namis': 6, 'csv': 6}

In [48]:
name = 'Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware. It is considered one of the Big Four technology companies, alongside Amazon'

In [33]:
name.split(' ')

['Google',
 'LLC',
 'is',
 'an',
 'American',
 'multinational',
 'technology',
 'company',
 'that',
 'specializes',
 'in',
 'Internet-related',
 'services',
 'and',
 'products,',
 'which',
 'include',
 'online',
 'advertising',
 'technologies,',
 'search',
 'engine,',
 'cloud',
 'computing,',
 'software,',
 'and',
 'hardware.',
 'It',
 'is',
 'considered',
 'one',
 'of',
 'the',
 'Big',
 'Four',
 'technology',
 'companies,',
 'alongside',
 'Amazon']

In [34]:
name

'Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware. It is considered one of the Big Four technology companies, alongside Amazon'

In [35]:
name = name.split(' ')

In [36]:
name

['Google',
 'LLC',
 'is',
 'an',
 'American',
 'multinational',
 'technology',
 'company',
 'that',
 'specializes',
 'in',
 'Internet-related',
 'services',
 'and',
 'products,',
 'which',
 'include',
 'online',
 'advertising',
 'technologies,',
 'search',
 'engine,',
 'cloud',
 'computing,',
 'software,',
 'and',
 'hardware.',
 'It',
 'is',
 'considered',
 'one',
 'of',
 'the',
 'Big',
 'Four',
 'technology',
 'companies,',
 'alongside',
 'Amazon']

In [37]:
cnt = dict()

In [62]:
for n in name:
    if n not in cnt:
        cnt[n] = 1
    else:
        cnt[n] = cnt[n]+1
cnt

{'Google': 1,
 'LLC': 1,
 'is': 1,
 'an': 1,
 'American': 1,
 'multinational': 1,
 'technology': 1,
 'company': 1,
 'that': 1,
 'specializes': 1,
 'in': 1,
 'Internet-related': 1,
 'services': 1,
 'and': 1,
 'products,': 1,
 'which': 1,
 'include': 1,
 'online': 1,
 'advertising': 1,
 'technologies,': 1,
 'search': 1,
 'engine,': 1,
 'cloud': 1,
 'computing,': 1,
 'software,': 1,
 'hardware.': 1,
 'It': 1,
 'considered': 1,
 'one': 1,
 'of': 1,
 'the': 1,
 'Big': 1,
 'Four': 1,
 'companies,': 1,
 'alongside': 1,
 'Amazon': 1,
 'b': 13,
 'o': 7}

In [60]:
cnt

{'Google': 1,
 'LLC': 1,
 'is': 1,
 'an': 1,
 'American': 1,
 'multinational': 1,
 'technology': 1,
 'company': 1,
 'that': 1,
 'specializes': 1,
 'in': 1,
 'Internet-related': 1,
 'services': 1,
 'and': 1,
 'products,': 1,
 'which': 1,
 'include': 1,
 'online': 1,
 'advertising': 1,
 'technologies,': 1,
 'search': 1,
 'engine,': 1,
 'cloud': 1,
 'computing,': 1,
 'software,': 1,
 'hardware.': 1,
 'It': 1,
 'considered': 1,
 'one': 1,
 'of': 1,
 'the': 1,
 'Big': 1,
 'Four': 1,
 'companies,': 1,
 'alongside': 1,
 'Amazon': 1,
 'b': 9,
 'o': 5}

In [88]:
a = dict()

In [89]:
a = {'value':5}

In [90]:
a

{'value': 5}

# Tuples

In [92]:
a = ('a','b','c')
z = (1,2,3)

In [93]:
# We can't change tuples this are immutable
z[1] = 4

TypeError: 'tuple' object does not support item assignment